#gameBoard{
    width: 700px;    
    height: 620px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:10px auto;
    padding:0;
}
#scoreBoard{
    background: silver;
    width: 680px;    
    height: 80px;
    margin:10px auto;
    position:relative;
}
#name{
    margin:auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.Scores{
    position:absolute;
    margin:5px 500px;
    padding-right:70px;
    font-weight:bold;
    font-size:26px;
    text-align:left;
}
.Text{
    border:solid 1px black;
    height:30px;
    width:60px;
    padding-right:5px;
    text-align:right;
    top:0px;
    position:absolute;
    right:0px;
}
#playBoard{
    margin:10px auto;
    width:680px;
    height:500px;
    position:relative;
    overflow:hidden;
}
#leftwall{
    background: black;
    height: 500px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 580px;
}
#middle{
    left:100px;
    right:100px;
    top:0;
    bottom:0;
    position:absolute;
    overflow:hidden;
}
#rightwall{
    background: black;
    height: 500px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 50px;
}
#player{
    background: red;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 470px;
    right: 0px;
}